body{
    background: #fff;
}
header{
position:fixed ;
/* z-index: 1; */
width: 100%;
top: 0;
align-items: center;
display: flex;
justify-content:space-between;
background: cornsilk;
height: 80px;
}
header.logo{
    margin-left: 0px;
    font-size: 2.5rem;
    font-weight: bolder;
    color: crimson;
}
header.navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    text-decoration: none;
}
.luachon{
    font-size: 1.3rem;
    margin-left: 2.5rem;
    text-decoration: none;
}
.a1{
    
    text-decoration: none;   
    color:red;
}
.a2{
    margin-left: 30px;
    text-decoration: none;   
    color:red;
}
.a3{
    margin-left: 30px;
    text-decoration: none;
    color:red;   
}
.a4{
    margin-left: 30px;
    margin-right: 50px;
    text-decoration: none;
    color:red;   
} 
.content
{
    height: 250px;
    width: auto;
    margin-top: 80px;
    background-image: url(./amazing/nen.jpg);
    background-size: cover;
    background-position-y: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .item .input {
    padding: 5px 10px;
    outline-style: none;
    border-radius: 4px;
    width: 45%;
    margin-right: 5px;
    border:none;
    text-align: center;

}

.content .btn-search {
    color: #fff;
    padding: 5px 10px;
    background-color: rgb(255, 102, 153);
    border-radius: 4px;
    border: none;
    outline-style: none;
    cursor: pointer;
}

.search-item .btn-search:hover {
    background-color: tomato;
}
.noidung
{
    text-align: center;
    margin-left: 150px;
}
.noidung .order-food
{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.noidung .noidung1
{
 text-align: center;
 margin-right: 130px;
}
.noidung .order-food .img
{
    height:  100%;
    object-fit: cover;
    width: 100%;
    border-radius: 0.5rem;
}
.noidung .order-food .box .doan 
{
    color: #fff;
    padding: 20px;
    font-size: 20px;
}
.noidung .order-food .box .doan h2
{
    position: absolute;
    bottom: -10rem;
    margin-left: 150px;  
}

.menu
{
    box-sizing: border-box;
    font-size: 1.5em;
    text-align: center;
    padding-top: 45px;
}
.col-1
{
    margin-top: 45px;
    float: left;
    width: 33%;
    margin-left: 16%;
    height: 150px;
    background-color: rgb(240, 238, 236);
    border-radius: 9px;
    padding-bottom: 20px;
}

.img-food1
{
    width: 80px;
    height: 80px;
    margin: 15px;
    border-radius: 9px;
}
.information-food h3
{
 margin-top: -110px;
 float: left;
 margin-left: 119px;
}
.information-food h4
{
    margin-top: -80px;
    float: left;
    margin-left: 119px;
}
.information-food p
{
    margin-top: -50px;
    float: left;
    margin-left: 119px;
    font-size: 15px;
    color: rgb(87, 85, 82);
}
.information-food a
{
    margin-top: -20px;
    float: left;
    margin-left: 119px;
    border-radius: 9px;
    padding: 2px;    
    background-color: rgb(206, 30, 65);
    color: #fff;
}
.col-2
{
    float: right;
    margin-top: 45px;
    width: 33%;
    height: 150px;
    background-color: rgb(240, 238, 236);
    border-radius: 9px;
    margin-right: 16%;
    padding-bottom: 20px;
}
.img-food2
{
    width: 80px;
    height: 80px;
    margin : 15px;
    border-radius: 9px;
}
.information-food2 .h3
{
    float: left;
    margin-top: -101px;
    margin-left: 119px;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.col-3
{
    float: left;
    margin-top: 45px;
    width: 33%;
    height: 150px;
    background-color: rgb(240, 238, 236);
    border-radius: 9px;
    margin-left: 16%;
    padding-bottom: 20px;
}
.col-4
{
   float:  right;
   margin-top: 45px;
   width: 33%;
   height: 150px;
   background-color: rgb(240, 238, 236);
   border-radius: 9px;
   padding-bottom: 20px;
   margin-top: 45px;
   margin-right: 16%;
}
.col-5
{
    float: left;
    margin-top: 45px;
    margin-left: 16%;
    background-color: rgb(240, 238, 236);
    padding-bottom: 20px;
    border-radius: 9%;
    width: 33%;
    height: 150px;
}
.col-6
{
    float: right;
    margin-top: 45px;
    margin-right: 16%;
    background-color: rgb(240, 238, 236);
    padding-bottom: 20px;
    border-radius: 9px;
    width: 33%;
    height: 150px;
}
.seefood
{
    display: inline-flex;
   margin-left: 47%;
    padding-top: 24px;
}
.seefood a
{
    
    color: rgb(206, 30, 65);
    font-weight: 500;
    font-size: 16px;
}
.footer
{
    width: auto;
    height: 40%;
    text-align: center;
}
.footer-link
{
    font-size: 20px;
    margin-top: 50px;
   padding-bottom: 15px;
}
.footer-link .fab
{
margin : 0 20px;
}
.font
{
    text-align: center;
}
